* {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: crimson;
  height: 70px;
  color: white;
  margin: -8px;
  margin-bottom: 0px;
}


#calendar {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  height: inherit;
}


table.month-table {
  margin: 0%;
  padding: 0%;
}

#rightmenu {
  float: right;
  width: 40%;
  margin: 0px;
  overflow: auto;
  height: 800px;
}

ul {
  padding: 0%;
  list-style: none;
}

#leftmenu {
  float: left;
  width: 60%;
  margin: 0px;
  height: 800px;
}

hr {
  border: none;
  /* Убираем границу для браузера Firefox */
  color: red;
  /* Цвет линии для остальных браузеров */
  background-color: red;
  /* Цвет линии для браузера Firefox и Opera */
  height: 1px;
  /* Толщина линии */
}

li.task {
  background-color: white;
  width: 90%;
  min-height: 70px;
  border-width: 1px;
  border-color: brown;
  border-style: solid;
  margin: 10px;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(138, 138, 138, 0.5);
  word-wrap: break-word;
}

body {
  background-color: rgb(236, 236, 236);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.day {
  width: 40px;
  height: 30px;
  background-color: white;
  border-radius: 10%;
  border-style: solid;
  border-width: 2px;

}

.day:empty {
  background-color: gray;
}

th.th-month {
  font-size: 30px;
  color: rgb(168, 4, 4);
}

td.td-day {
  vertical-align: top;
}

.month {
  padding: 2px;
  border-width: 1px;
  border-color: brown;
  border-style: solid;
  margin: 10px;
  border-radius: 4px;
}

p {
  font-size: 22px;
  margin: 0px;
}